/* External */
body{
    padding-bottom: 500px;
}
h3{
    color: green;
}

/*Classes*/

.paragraph{

    color:aqua;
    background-color: brown;
    padding: 5px;

}

/*ID*/

#exclusive-title {

    color: aliceblue;
    background-color: blue;
    padding: 10px;
}

/*Aula ordem*/

h2 {

border-bottom: 3px solid red;

}

.titulo {

    border-bottom: 5px solid green;
}

#algum-titulo{

border-bottom: 10px solid black;

}

/* Nome das Cores*/

.color-name {

color:rgb(90, 90, 184)

}

.hex {

    color: #55a398;
}

.rgb {

    color: rgb(5, 51, 8);

}

.rgba {

    color: rgba(198, 95, 13, 0.3);

}

.hsl {

    color: hsl(105, 56%, 50%);
}

.hsl2 {

    color: hsl(230, 90%, 25%);

}

.blackground {

    background-color: #000;
    color: #fff;
}

/* Opacity*/

.bg-opacity {

color: black;
background-color: green;
opacity: 0.2;

}


/* Opacidade com rgba */

.rgba-opacity {

    background-color: rgba(90, 20, 30, 0.3);
    color: bisque;

}

/* Aula de imagem */

.bg-imag {

    background-image: url("img/OIP.jpeg");
}

/* centralizar a imagem */

.img-central {

height: 200px;
width: 400px;
background-image: url(img/OIP.jpeg);
background-size: cover;

}


/* height and width */

.height-width {

height: 200px;
width: 200px;
background-color: mediumseagreen;

}

.without-padding {

background-color: #111;
color: #fff;

}

.padding {

padding: 20px;

}

/* Aula de padding individual */

.padding-individual {

    background-color: #111;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 15px;

}

/* Aula shorthand */

.shorthang-padding {

    padding: 6px 12px 18px 24px;
}

.border-box {

background-color: #666;
color: #fff;
width: 400px;
padding: 50px;
box-sizing: border-box;

}

.border {

    border: 5px solid rgb(92, 82, 82);

}

.border-radius {

background-color: pink;
color: rgb(255, 0, 132);
border: 5px solid red;
padding: 15px;
border-radius: 15px;

}

.text-aligned {

text-align: right;

}

.text-center {

    text-align: center;
}

.underline {

text-decoration: underline;

}

.line-through {

    text-decoration: line-through;
}

.remove-underline {

text-decoration: none;
color: red;

}


.text-transform {

text-transform: uppercase;

}

.minusculo {

    text-transform: lowercase;
}

.letter {

    letter-spacing: 5px;
}

.serif {

    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;

}

.cursive {
        font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}


/* Estilo de fonte */

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.weight {
    font-weight: 800;
}

.size {
    font-size: 16px;
}

.div {
    display: inline-block;
}

.span {
    display: block;
}

.fixed {
    width: 100px;
    height: 100px;
    background-color: #653;
    border: 1px solid blue;
    position: fixed;
    top: 50px;
    right: 100px;

}